In [1]:
import pymysql

In [2]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="000123",
    database="qg",
    charset="utf8")
cursor = conn.cursor()

In [3]:
sql = """
    CREATE TABLE QGP (
    id INT auto_increment PRIMARY KEY ,
    name VARCHAR(100) NOT NULL ,
    home VARCHAR(100) NOT NULL ,
    sex VARCHAR(100) NOT NULL ,
    age TINYINT NOT NULL
    )
"""
try:
    cursor.execute(sql)
except Exception as e:
    print(e)
    # 发生错误则回滚
    conn.rollback()

(1050, "Table 'qgp' already exists")

In [39]:
#INSERT INTO
sql = """
    INSERT INTO QGP(name,home,sex,age)
    VALUES(%s, %s,%s, %s)
"""
data = [
    ("Yanggan Gu","Foshan","male", 20),
    ("Weile Li","Guangzhou","male", 19),
    ("Jiongcheng Lin","Guangzhou","male", 18),
    ("Zhengting Huang","Dongguan","female", 17)
]
try:
    # 执行sql语句
    cursor.executemany(sql, data)
    # 提交执行
    conn.commit()
except Exception as e:
    print(e)
    # 发生错误则回滚
    conn.rollback()

(1062, "Duplicate entry 'male' for key 'qgp.sex'")

In [5]:
#SELECT
sql = "SELECT * FROM QGP "
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   print(results)
   for row in results:
      id = row[0]
      name = row[1]
      home = row[2]
      sex = row[3]
      age = row[4]
       # 打印结果
      
      print ("id:%s,name:%s,home:%s,sex:%s,age=%d" % \
              (id, name,home,sex, age))
     
except Exception as e:
    print(e)
    print ("Error: unable to fetch data")

()

In [17]:
#UPDATE
sql = "UPDATE QGP SET AGE = AGE + 1,HOME ='Weifang'  WHERE name = 'Weile'"
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   conn.commit()
except Exception as e:
   print(e)
   # 发生错误时回滚
   conn.rollback()

In [19]:
# DELETE
sql = "DELETE FROM QGP WHERE AGE = 19" 
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   conn.commit()
except Exception as e:
    print(e)
   # 发生错误时回滚
    conn.rollback()

In [23]:
#ORDER BY
sql="SELECT * FROM QGP ORDER BY AGE"
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   conn.commit()
except Exception as e:
   print(e)
   # 发生错误时回滚
   conn.rollback()

In [9]:
#AND & OR
sql="SELECT * FROM QGP WHERE HOME='Guangzhou' AND AGE > 18"
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   print(results)
   for row in results:
      id = row[0]
      name = row[1]
      home = row[2]
      sex = row[3]
      age = row[4]
       # 打印结果
      
      print ("id:%s,name:%s,home:%s,sex:%s,age=%d" % \
              (id, name,home,sex, age))
     
except Exception as e:
    print(e)
    print ("Error: unable to fetch data")

()

In [10]:
#SELECT DISTINCT
sql="SELECT DISTINCT HOME FROM QGP"
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   print(results)
   for row in results:
      id = row[0]
      name = row[1]
      home = row[2]
      sex = row[3]
      age = row[4]
       # 打印结果
      
      print ("id:%s,name:%s,home:%s,sex:%s,age=%d" % \
              (id, name,home,sex, age))
     
except Exception as e:
    print(e)
    print ("Error: unable to fetch data")

()